<a href="https://colab.research.google.com/github/icsj10050507/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
total = i = 0
while i <= 50:
  total += i
  i += 2
print('0～50的偶數何結果是%d' %(total))

0～50的偶數何結果是650

In [6]:
total = i = 0
while i <= 50:
  if i % 2 != 0:
    total += i
  i += 1
print('0～50的奇數何結果是%d' %(total))

0～50的奇數何結果是625

In [8]:
n = int(input('請輸入正整數:'))
for i in range(1,n+1):
  for j in range(i,n+1):
    print('*',end='')
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [10]:
sum = 0
for i in range(1,101):
  if i % 3 == 0 or i % 7 == 0:
    sum += i
print('數值 1～100 中, 所有是 3 或 7 倍數的數之總和 =',sum)

數值 1～100 中, 所有是 3 或 7 倍數的數之總和 = 2208

In [16]:
p = 1
m = 0
n = int(input('請輸入正整數:'))
print(n,'的因數有',end=' ')
while p<=n:
  if n % p == 0:
    print(p, end=' ')
    m += 1
  p += 1
print()
if m == 2:
  print(n,'是質數')
else:
  print(n,'不是質數')

請輸入正整數:1
1 的因數有 1
1 不是質數

In [17]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [20]:
list2 = ['香蕉','蘋果','橘子']
list2

['香蕉', '蘋果', '橘子']

In [19]:
list3 = [1,'香蕉',True]
list3

[1, '香蕉', True]

In [24]:
print(list1)
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

[1, 2, 3, 4, 5]
1
2
3
4
5

In [28]:
list4 = ['香蕉','蘋果','橘子']
print(list4[1])

蘋果

In [29]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [30]:
print(list4[3])

IndexError: ignored

In [31]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [32]:
print(list4[-4])

IndexError: ignored

In [33]:
list5 = [['tom','1234']],['mary','abcd'],['david','5678']
print(list5[1])

['mary', 'abcd']

In [34]:
print(list5[0])

[['tom', '1234']]

In [41]:
print(list5[0][0])

['tom', '1234']

In [36]:
print(list5[1][1])

abcd

In [37]:
print(list5[1][0])

mary

In [44]:
scores = [85,79,93]
print('國文成績:%d分' % scores[0])
print('數學成績:%d分' % scores[1])
print('英文成績:%d分' % scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [45]:
list6 = [1,2,3,4,5]
print(list6[0])

1

In [47]:
list6[0] = 9
print(list6[0])

9

In [48]:
print(list6)

[9, 2, 3, 4, 5]

In [49]:
list7 = ['香蕉','蘋果','橘子']
for s in list7:
  print(s, end=',')

香蕉,蘋果,橘子,

In [51]:
items = [123,'apple',True]
for s in items:
  print(s)

123
apple
True

In [52]:
scores = [85,79,93]
print(len(scores))

3

In [53]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [58]:
a = ['國文','數學','英文']
scores = [85,79,93]
for i in range(len(scores)):
  print('%s成績:%d分' %(a[i],scores[i]))

國文成績:85分
數學成績:79分
英文成績:93分

In [62]:
n = ['Tom','Mary','Tony']
for i in range(len(n)):
  print('編號:%d 姓名:' %(i+1),n[i] )

編號:1 姓名: Tom
編號:2 姓名: Mary
編號:3 姓名: Tony